body{
   background: grey;
}

#header{
   padding:20px;
   background:#0000B8;
   height:30px;
   text-align:center;
   font-size:125%;
}

#header h2{
   position:relative;
   bottom:25px;
}

#content{
   padding:20px;
   min-height:500px;
   background:white;
   height:auto;
}

#footer{
   padding:20px;
   height:30px;
   background:#0000B8;
   color:white;
}
